*{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #8f7070;
}
form {
    background-color: #E8E6DF;
}

.formulario{
    display: block;
    margin: 0 auto  ;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 30px;
    border: 1px solid black;
    
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
    color: black;
}
input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    background-color: #ccc;
    border: 1px solid black;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #b09999;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}
label{
    background-color: #E8E6DF;
}